<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.tAlert.dao.tNoticeDao">



<!-- 강사 공지사항 리스트 조회+검색 -->
 <select id="searchNotice" resultType="kr.happyjob.study.tAlert.model.tNoticeVO">
 
 		 SELECT
 		 
 		   ui.loginID
         , ui.name 
 		 , n.notice_no 
 		 , n.loginID
 		 , n.notice_title
 		 , DATE_FORMAT(n.notice_created_at, '%y-%m-%d') as notice_created_at
		 , ui.user_type
		 
		FROM tb_notice n
		LEFT OUTER JOIN tb_userinfo ui ON ui.loginID = n.loginID
		
		<where>
			<if test="(stitle != null) and (!stitle.equals(''))">
				AND n.notice_title LIKE concat('%',#{stitle},'%')
			</if>
			<if test="user_type != null and user_type != ''">
			      AND ui.user_type = #{user_type}
			</if> 
		</where>
		ORDER BY notice_no DESC
		LIMIT #{startpoint}, #{pageSize}
	</select>
	
	
	
	<!-- 그룹코드 목록 총 갯수 조회 -->
	<select id="totalcntNotice" resultType="int">
		
		
      SELECT COUNT(*)
      FROM tb_notice n
              INNER JOIN tb_userinfo ui ON ui.loginID = n.loginID
              <where>
		    <if test="(stitle != null) and (!stitle.equals(''))">
		      AND n.notice_title LIKE concat('%',#{stitle},'%')
		    </if>
		    <if test="user_type != null and user_type != ''">
		      AND ui.user_type = #{user_type}
		    </if>
		  </where>
	</select> 
	
	
	
	<!-- 강사 공지사항 하나 조회 -->
	 <select id="selectNotice" resultType="kr.happyjob.study.tAlert.model.tNoticeVO">
	 SELECT
	 
	 
	      ui.loginID
        , ui.name 
		, n.notice_no
		, n.notice_title
		, DATE_FORMAT(n.notice_created_at, '%y-%m-%d') as notice_created_at
		, n.loginID
		, n.notice_content
		, n.file_no
		, f.file_no
		, f.file_server_path
		, f.file_local_path
		, f.file_origin
		, f.file_rename
		, f.file_extension
		, f.file_size
		
		FROM tb_notice n
		   left join tb_userinfo ui on ui.loginID = n.loginID
		   left join tb_file f on n.file_no = f.file_no 
		   
		WHERE n.notice_no = #{pNoticeNo}
	</select>


	<!-- 강사 공지사항 등록 -->
	 <insert id="insertNotice">
	   <!-- <selectKey keyProperty="selnotice" resultType="int" order="BEFORE"> 
	   	     SELECT IFNULL(MAX(notice_no),0) +1 FROM tb_notice             
	    </selectKey> -->
	    
	    INSERT INTO tb_notice
		(
			  notice_title
			, notice_content
			, loginID
			, notice_created_at
			<if test="fileExits eq 'Y'.toString()">
				, file_no
			</if>
			
			)
			VALUES (
			  #{noticeTitle}
			, #{noticeContent}
			, #{loginID}
			, now()
		<if test="fileExits eq 'Y'.toString()">
			, #{file_no}
		</if>
		)
	</insert>
	
	
	       <!--공지사항 파일 등록-->
   <insert id="saveFile" parameterType="kr.happyjob.study.tAlert.model.tNoticeVO" useGeneratedKeys="true" keyProperty="file_no">
		INSERT INTO tb_file
				(
				file_origin
				, file_local_path
				, file_server_path
				, file_size
				, file_extension
				)
				VALUES
				(
				#{file_origin}
				, #{file_local_path}
				, #{file_server_path}
				, #{file_size}
				, #{file_extension}
				)
	</insert>
	       
	       
  <!-- 강사 공지사항 삭제-->
	<delete id="deleteNotice">
		DELETE FROM tb_notice
		WHERE notice_no = #{pNoticeNo}	
		AND loginID = #{loginID}
	</delete>
	       
	       
  <!-- 강사 공지사항 수정 
	<update id="updateNotice">
		UPDATE tb_notice
		 SET 
		   loginID = #{loginID}
		 , notice_title = #{notice_title}
		 
		 
		 WHERE notice_no = #{pNoticeNo}
		 
		 
	</update> -->
	
	
	 
</mapper>