<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.aCourse.dao.aCourseCodeDao">

   <!-- 공통코드에 있는 강의코드 목록 조회 -->
   <select id="aCourseList" resultType="kr.happyjob.study.aCourse.model.aCourseCodeModel">
		/*kr.happyjob.study.aCourse.dao.A_Datail_CodeDao.aCourseList*/
        SELECT	detail_code	
        	,	detail_name
        FROM	tb_detail_code
        WHERE	group_code = 'S1000'
        <if test="(stitle != null) and (!stitle.equals(''))">
	    AND 
	   		(detail_name LIKE concat('%', #{stitle}, '%')
	   	OR 
	   		detail_code LIKE concat('%', #{stitle}, '%'))
	  </if>
        ORDER BY detail_code ASC
        LIMIT #{startPoint}, #{pageSize}
	</select>
	
	<!-- 코드목록 총 갯수 조회 -->
	<select id="totalCountCode" resultType="int">
		SELECT
			count(*)
		FROM
  			tb_detail_code
		<if test="(stitle != null) and (!stitle.equals(''))">
	    WHERE 
	   		detail_name LIKE concat('%', #{stitle}, '%')
	   		OR 
	   			detail_code LIKE concat('%', #{stitle}, '%')
	  </if>
	</select>
	
   <!-- 공통코드에 있는 강의코드 추가 -->
   <insert id="aCourseInsert" parameterType="String">
   INSERT INTO tb_detail_code(detail_code,group_code,detail_name,use_yn) 
		SELECT CONCAT('A',CAST(ifnull(max(cast(SUBSTRING(detail_code,2)as unsigned)),99) + 1 as CHAR(3)))
      ,'S1000'
      ,#{detail_name}
      ,'Y'
  	FROM tb_detail_code
 	WHERE group_code = 'S1000'
 	</insert>
 
	<!-- 다음 강의코드 추출 -->
 <select id="nextCodeSelect" resultType="String" >
	  SELECT CONCAT('A',CAST(ifnull(max(cast(SUBSTRING(detail_code,2)as unsigned)),99) + 1 as CHAR(3))) 
	  from tb_detail_code 
	  WHERE group_code = 'S1000'
	</select>
	
	<!-- 선택한 강의코드 추출 -->
<!--  <select id="codeSelect" resultType="String" parameterType="String">
 		SELECT detail_code FROM tb_detail_code WHERE detail_name = #{detail_name};
	</select> -->
	
   <!-- 공통코드에 있는 강의코드 수정 -->
   <update id="codeUpdate" parameterType="Map">
   	UPDATE tb_detail_code 
	SET detail_name = #{detail_name} 
	WHERE detail_code = #{detail_code}
   </update>
   
   
   <!-- 공통코드에 있는 강의코드 삭제 -->
     <delete id="codeDelete" parameterType="String">
    DELETE 
    FROM 
    	tb_detail_code 
    WHERE 
    	detail_code = #{detail_code}
     </delete>
     
     
     <!-- 검색어 입력  -->
     <select id="codeSearch" parameterType="String" resultType="kr.happyjob.study.aCourse.model.aCourseCodeModel">
    SELECT detail_code, detail_name
	FROM tb_detail_code
	WHERE detail_name LIKE CONCAT('%', #{word}, '%')
	 </select>


</mapper>