<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.aAlert.dao.ASuggestionDAO">
	<select id="searchSuggestion" resultType="kr.happyjob.study.aAlert.model.ASuggestionDTO">
		SELECT
		suggestion_no
		, loginID
		, suggestion_category
		, suggestion_answered
		, suggestion_title
		, suggestion_content
		, DATE_FORMAT(suggestion_created_at, '%y-%m-%d') as suggestion_created_at
		FROM tb_suggestion
		<where>
			<if test="(stitle != null) and (!stitle.equals(''))">
				and suggestion_title like concat('%',#{stitle},'%')
			</if>
		</where>
		ORDER BY suggestion_no DESC;
	</select>
</mapper>
